{% extends 'base.html' %}
{% block content %}
<div class="auth-container">
  <div class="auth-card">
    <h2>Cadastrar</h2>
    <form method="post" class="auth-form">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% if field.field.widget.input_type != "hidden" %}
            {{ field }}
          {% endif %}
        </div>
      {% endfor %}
      <button class="auth-btn" type="submit">Registrar</button>
    </form>
  </div>
</div>
{% endblock %}
